<link rel="stylesheet" href="~/css/site.css" />

<div class="header-row">
    <h2 style="text-align:center;">Employee List</h2>

    <form method="get" class="search-wrapper">
        <div class="search-container">
            <span class="search-icon">🔍</span>
            <input type="text"
                   name="search"
                   value="@Context.Request.Query["search"]"
                   placeholder="Search employee..." />
        </div>
    </form>
</div>


<table>
    <thead>
        <tr>
            <th style="width:10%;">Emp Id</th>
            <th style="width:25%;">Name</th>
            <th style="width:25%;">Department</th>
            <th style="width:20%;">Salary</th>

            @if (User.IsInRole("Admin"))
            {
                <th style="width:20%;">Actions</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Name</td>
                <td>@e.Department</td>
                <td>@e.Salary</td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a href="/Employee/Edit/@e.Id">Edit</a> |
                        <a href="/Employee/Delete/@e.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("Admin"))
{
    <div style="text-align:center; margin-bottom:20px;">
        <a href="/Employee/Create">
            <button class="add-btn">Add New Employee</button>
        </a>
    </div>
}